:root {
    --clr-all : #ffff;
    --clr-hover : blue;
    --clr-section-1 : #0FC2C0;
    --clr-section-2 : #0CABA8;
    --clr-section-3 : #008F8C;
    --clr-section-4 : #015958;
    --clr-section-5 : #023535;
    --font-family: 'Plus Jakarta Sans'
}

*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body{
    font-family: var(--font-family);
}

.navbar{
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10vh;
    background-color: var(--clr-all);
}

.item{
    text-decoration: none;
    background-color: red;
    color: var(--clr-all);
    margin-left: 20px;
    padding: 10px;
    border-radius: 10px;
    
}

.item:hover{
    background-color: var(--clr-hover);
    color: var(--clr-all);
    padding: 15px;
    transition: padding 0.25s linear;
}

.section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.parallax{
    background-image: url('../images/background.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.parallax::after{
    content: "";
    position: absolute;
    transform: translateZ(-1px) scale(1.5);
    z-index: -1;
}

.section:nth-child(2){
    background-color: var(--clr-section-1);
}

.section:nth-child(3){
    background-color: var(--clr-section-2);
}

.section:nth-child(4){
    background-color: var(--clr-section-3);
}

.section:nth-child(5){
    background-color: var(--clr-section-4);
}

.section:nth-child(6){
    background-color: var(--clr-section-5);
}

.color{
    color: var(--clr-all)
}