<%- include('../partials/header') %>

    <div class="test">
        <form action="" method="post">
            <input type="text"/>
            <button id="input" onsubmit="subir()" type="submit">Subir</button>
        </form>
    </div>

<%- include('../partials/footer') %>