<div class="navbar">
    <a class="item" href="#section1">Click section 1</a>
    <a class="item" href="#section2">Click section 2</a>
    <a class="item" href="#section3">Click section 3</a>
    <a class="item" href="#section4">Click section 4</a>
    <a class="item" href="#section5">Click section 5</a>
</div>